@import '../vars/containervars.scss';

.aboutContainer {
    background-color: $containerBColor;
    width: $containerWidths;
    margin: $containerMargins;
    border-radius: 5px;
    text-align: left;
}

.aboutContainer h3, h2{
    color: #596475;
    padding-left: 10px;
    font-weight: 300;
    font-size: xx-large;
}

.aboutContainer h2 {
    font-size: x-large;
}

@media only scrren and (max-width: 600px){
    .aboutContainer{
        width: $mobileWidth;
    }
}


