
.footer {
    width: 80%;
    position: absolute;
    bottom: 0;
}

.footer p{
    text-align: right;
    padding-right: 15px;
    color: whitesmoke;
}

.phantom {
  display: block;
  padding: 20px;
  height: 60px;
  width: 100%;
}