
.nav{
    display: flex;
    justify-content: space-evenly;
    width: auto;
    background-color: #5CDB96;
    color: #05386b;
    height: 3em;
    margin-bottom: 3rem;
    border-radius: 1px;
    font-size: 22px;
    font-weight: 400;
    font-variant: small-caps;
}

.nav {
    padding: 5px;
    padding-top: 10px;

}


.nav div:hover{
    opacity: 0.6;
    transition-duration: 300ms;
    transform: scale(1.3,1.3);
    color: lightyellow;
}

.nav a{
    text-decoration: none;
    color: inherit;
}

@media (max-width: 500px) {
    .nav a{
        display: none;
    }

    .nav{
        display: inline-block;
        width: 100%;
        min-width: 500px;
    }
}