

.scrbox{
    display: flex;
    justify-content: center;
    text-align: left;
}

.scrbox .mobileLink{
    text-align: left;
}

.imgBox{
    width: fit-content;
    height: fit-content;
    padding: 35px;
}

.imgBox img{
    height: 800px;
    width: 600px;
    float: left;

}

.textBoxes{
    margin-top: 20px;
}

.textBoxes p {
    margin: 10px;
    margin-bottom: 30px;
    padding: 5px;
    width: 400px;
    position: relative;
    border-radius: 25px;
    -webkit-animation: fadein 3s;
    animation: fadein, slidein;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

.mobileLink{
    color: rgb(106, 106, 209) !important;
    font-size: large;
    text-decoration: underline;
    font-weight: 600;
    margin: auto;
    margin-left: 25%; //why

}

@keyframes fadein{
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes slidein{
    from {right: -100px}
    to {right: 0px}
}

@media only screen and (max-width: 600px){

    .imgBox img{
        display: none;
    }
}

@media only screen and (min-width: 600px){
    .mobileLink{
        display: none;
    }
}


@media only screen and (max-width: 1400px){

    .textBoxes p {
        display: none;
    }
}