

$mobileWidth: 40%;

$containerWidths: 80%;
$containerMargins: auto;
$containerBColor: #f6faee;
//$containerBColor: linear-gradient(90deg, rgba(191,231,163,1) 54%, rgba(93,169,185,1) 100%);

$backdrop-height: 100%;
$backdrop-width: 100%;
$backdrop-z-index: 100;
$backdrop-left: 0;
$backdrop-top: 0;