@import '../vars/containervars.scss';


.skillContainer{
    width: $containerWidths;
    margin: $containerMargins;
    background-color:  $containerBColor;
    text-align: left;
}

h2{
    color: honeydew;
    padding-left: 0px;
    font-weight: 300;
    font-size: xx-large;
}
