
.container h3{
    font-weight: 400;
    font-size: xx-large;
    padding: 20px;
    text-align: justify;
    justify-content: left;
}

.container p{
    text-align: justify;
    justify-content: left; 
}

.container a {
    text-decoration: none;
    font-size: 1.5em;
}

.container a:hover{
    color: green;
    -webkit-transition: color 1s;
}