body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: #303030;
  background-image: url('./res//background-v4.png');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


